body{
background-image: url("whitneyhouston.jpg");
}

h1{
font-family: cursive;
color: purple;
border: 5px solid black;
text-align: center;
background-color: white;
}

.video{
padding: 5px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.text{
font-family:sans-serif;
color: black;
text-align:center;
font-size: 30px;
border: 5px solid black;
background-color:purple;
margin: 25px;
}

.menuul{
font-family:sans-serif;
color:black;
text-align:center;
font-size:30px;
border: 5px solid black;
margin: 25px;
background-color:purple;
}

.top{
background-color:purple;
overflow: hidden;
}

.top a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: purple;
  color: white;
}


.about{
font-family:sans-serif;
color:black;
text-align:center;
font-size:30px;
border: 5px solid black:
margin:25px;
background-color:purple;
}
