body{
background-color: black;
overflow: hidden;
}


nav ul {
margin: 0;
padding: 0;
list-style: none;
font-family:monospace;
}

nav a {
display: block;
padding: 10px;
margin: 10px;
background-color: #a7c8fc;
width: 100px;
color: white;
transition: background-color 1.0s, width 2.0s, color 2.0s;
}

nav a:hover {
background-color: #0560f0;
width: 200px;
color: black;
}

.sh2 {
border: 2px solid white;
text-align: center;
font-family: monospace;
margin: 0;
padding: 0;
color:white;
}

.img {
    position: absolute;
    left: -100%;
    margin: 7em -244px;
    animation: slide 4s infinite;
}
@keyframes slide {
    0% { left: -150%; }
    35% { left: 50%; }
    65% { left: 50%; }
    100% { left: 150%; }
}

#slide3 {
width: 1000px;
height: 100px;
position: absolute;
    top: 0;
    right: 0;
}

#slide3 img {
transition: .1s all;
filter: blur(10px);
}

#slide3:hover img {
filter: blur(0px);
}
