body{
background-color: black;
overflow: hidden;
}


nav ul {
position:relative;
z-index: 9;
margin: 0;
padding: 0;
list-style: none;
font-family:monospace;
}

nav a {
display: block;
padding: 10px;
margin: 10px;
background-color: #a7c8fc;
width: 100px;
color: white;
transition: background-color 1.0s, width 2.0s, color 2.0s;
}

nav a:hover {
background-color: #0560f0;
width: 200px;
color: black;
}

.sh2 {
position:relative;
z-index:8;
border: 2px solid white;
text-align: center;
font-family: monospace;
margin: 0;
padding: 0;
color:white;
}

.img {
    z-index: 10;
    position: relative;
    left: -100%;
    margin: 7em -244px;
    animation: slide 4s infinite;
}
@keyframes slide {
    0% { left: -150%; }
    35% { left: 50%; }
    65% { left: 50%; }
    100% { left: 150%; }
}

#slide3 {
position: relative;
z-index: 5;
right: 0px;
top: 0px;
text-align:right;
width:100px;
height:100px;
}

#slide3 img {
transition: .1s all;
filter: blur(10px);
}

#slide3:hover img {
filter: blur(0px);
}
