body{
background: black;
}

h1{
font-family: monospace;
font-weight: bold;
color:white;
text-align: center;
font-size: 50px;
}

div{
 position:relative;
 z-index:7;

}

.hnlogo{
  position:relative;
  z-index:10;
  margin:0;
  padding:0;
}

.photo{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    z-index: 6;
}
